
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section head {
    <script src="~/Publics/js/jquery-3.6.0.min.js"></script>
    <script src="~/Publics/js/javascript.js"></script>
    <link href="~/Publics/css/Cart.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" />*@
    <link href="~/Publics/css/all.min.css?v=2" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-siJTwz0+0fqvBlYrEfgjmX9x0gJDM28a0HfADyh2+TQq6bsNCl6UOkfM10/0/b+ZZD6wUsKjTYsNzJVKXBRXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<h2 style=" margin-top: 144px;" >Failure</h2>

