<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="icon-container ml-md-4 mt-1">
            <i class="fa fa-user fa-inverse"></i>
        </div>
        <div class="info">
            <a href="/admin/home" class="d-block">@Session["Name"]</a>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Statistics
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/statistics" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quantity statistics</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/statistics/revenue" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Revenue statistics</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/product" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Product
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/supplier" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Supplier
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/user" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        User
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Order
                    </p>
                </a>
            </li>
        </ul>
    </nav>

    <a href="/" class="back-button" style="        display: inline-block;
        background: #f5b5fa;
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
        position: fixed;
        bottom: 30px;
        left:30px">
        <i class="fas fa-chevron-left"></i>
        BACK TO HOME
    </a>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->